<div style="width: 100%">
  <!--<ngx-gns-grid class="d-flex justify-content-center"
                style="height: 400px ; width: 50%"
                tableHeight="400px"
                stickyHeader
                [columnDef]="columns" [dataSource]="dataSource"></ngx-gns-grid>-->
  <!--  <i class="fa fa-user-circle fa-2x" aria-hidden="true"> </i>-->
  <button class="btn btn-primary" (click)="onReset()">Reset</button>
  <div class="mt-4 p-5 shadow-sm">
    <ngx-gns-grid stripedRows="true"
                  filterable
                  [state]="state"
                  (stateChange)="onStateChange($event)"
                  [paginationConfig]="paginationConfig"
                  showFooter
                  [columnDef]="columns"
                  [gridData]="dataSource"
                  [gridConfig]="gridConfig"
                  [selectedKeys]="selectedKeys"
                  [selectableConfig]="{multiple:true,columnId:'id'}"
                  (selectedKeysChange)="onSelectedKeysChange($event)"
                  (selectionChange)="onSelectionChange($event)"
                  (cellClick)="onCellClick($event)"
                  (rowClick)="onRowClick($event)">
      <ngx-gns-grid-column id="first">
        <ng-template ngxGnsGridColumnFooterTemplate let-column let-index="index">
          Totol: 10
        </ng-template>
      </ngx-gns-grid-column>
      <ngx-gns-grid-column id="action">
        <ng-template ngxGnsGridColumnFilterTemplate let-column let-index="index">
          Filter Template
        </ng-template>
        <ng-template ngxGnsGridColumnCellTemplate let-dateItem let-index="index" let-value="value">
          <button class="btn btn-sm btn-outline-primary" (click)="onCloseClick(dateItem, $event)">Close</button>
        </ng-template>
        <ng-template ngxGnsGridColumnFooterTemplate let-column let-index="index">
          Footer Template
        </ng-template>
      </ngx-gns-grid-column>
      <!--<ngx-gns-grid-column field="handle">
        <ng-template ngxGnsGridColumnTemplate let-dateItem let-index="index" let-value="value">
          handle {{dateItem.handle}}
        </ng-template>
      </ngx-gns-grid-column>-->
    </ngx-gns-grid>
  </div>
</div>
